body {
  background-color: green;
}
div.nav-tab {
      background-color: lightblue;
      color: white;
      border-style: solid;
      text-align: center;
      text-decoration: none;
}
div.nav-tab:hover {
      background-color: yellow;
}
.navigation[href$=".html"] {
    text-decoration: none;
    font-family: arial, helvetica, sans-serif;
}

/*
a:link, a:visited, a:active  {
    color: black;
    text-decoration: none;
}
a:hover {
    color: purple;
    text-decoration: none;
}
*/
